<launch>
    <arg name="config_path"           default="$(find sslam_estimator)/config/honda/pointgrey_stereo_config.yaml"/>

    <node pkg="pose_graph" type="pose_graph_node" name="pose_graph_node" output="screen" >
        <param name="config_path"     value="$(arg config_path)" />
    </node>

    <node pkg="sslam_estimator" type="sslam_estimator_node" name="sslam_estimator_node" output="screen" >
        <param name="config_path"     value="$(arg config_path)" />
    </node>

    <node pkg="ros_utils" type="pose_to_path" name="gps_path">
        <remap from="pose"                  to="/gps_pose" />
        <remap from="path"                  to="/gps/path" />
        <param name="map_frame"             value="world" />
        <param name="frame_id"              value="world" />
        <param name="is_camera_frame"       value="true" />
        <param name="base_frame"            value="gps" />
        <param name="init_origin"           value="true" />
        <param name="publish_transform"     value="false" />
    </node>

    <node name="rvizvisualisation" pkg="rviz" type="rviz" output="log" args="-d $(find sslam_estimator)/config/sslam_rviz_config.rviz" />
</launch>
